.header {
    &.menu-fixed {
        @include breakpoint(md) {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 99;
            background: #fff;
            box-shadow: 0 0 3px rgb(81 136 136 / 10%);
        }

        @include breakpoint(lg) {

            .header__top,
            .header__upper-left,
            .header__upper-right {
                display: none !important;
            }

            .menu-area {
                box-shadow: rgb(50 50 93 / 25%) 0px 3px 5px
            }
        }
    }

    &__top {
        @extend %d-none;
        background-color: $title-color;

        @include breakpoint(lg) {
            display: block;
        }

        .open {
            @extend %d-block;
        }
    }

    &__top-wrapper {

        border-left: 1px solid $header-border-color;
        border-right: 1px solid $header-border-color;

        @include breakpoint(lg) {
            border-left: none;
            border-right: none;
        }

    }

    &__top-welcome {
        li {
            padding: 12px 0;

            p {
                color: $header-top-color;
                font-family: $title-font;
                @extend %text-capitalize,
                %text-initial;
            }
        }

    }

    &__top-social-icon {

        border-top: 1px solid $header-border-color;

        @include breakpoint(lg) {
            border: none;
        }

        li {
            border-right: 1px solid $header-border-color;
            @extend %text-center;
            flex-grow: 1;

            &:last-child {
                border: none;

                @include breakpoint(lg) {
                    border-right: 1px solid $header-border-color;
                }
            }

            a {
                width: 49px;
                height: 50px;
                line-height: 50px;
                color: $white-color;

                &:hover {
                    &.twitter {
                        color: $twitter;
                    }

                    &.rss {
                        color: $rss;
                    }

                    &.dribbble {
                        color: $dribbble;
                    }

                    &.behance {
                        color: $behance;
                    }

                    &.instagram {
                        color: $instagram;
                    }
                }

                i {
                    font-size: $fs-base;
                }
            }
        }

    }

    &__upper {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

        &-wrapper {
            @extend %p-rel;
        }

        @include breakpoint(lg) {
            box-shadow: none;
        }
    }

    &__upper-left {
        @extend %text-left,
        %flex,
        %justify-center,
        %ai-center;
    }

    &__upper-right {
        display: none;

        .get-free-quote {
            width: 100%;
            border-top: none;
            text-align: center;
            padding: 15px;
            @extend %p-rel;

            @include breakpoint(md) {
                width: 200px;
                border-left: 1px solid $header-btm-border-color;
                border-right: 1px solid $header-btm-border-color;
                padding: 28px;

            }

            a {
                color: $white-color;
            }

            &-content {
                @extend %p-abs;
                width: 100%;
                top: 50%;
                left: 50%;
                @include add-prefix(transform, translate(-50%, -50%));

                li {
                    p {
                        color: $title-color;
                        font-family: $title-font;
                        @extend %text-uppercase,
                        %text-bold;
                    }

                    svg {
                        @include font-size($fs-h5);
                        color: $star-color;
                        @include transition($transition);
                    }
                }
            }

            &:hover {
                .get-free-quote-content {
                    li {
                        svg {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }

    &__upper-right-items {
        .info-box {
            padding: 12px 0;

            @include breakpoint(md) {
                margin-right: 20px;
                padding: 0;
            }

            @include breakpoint(lg) {
                margin-right: 35px;
            }

            .info-thumb {
                width: 45px;
                height: 45px;
                line-height: 45px;
                @extend %text-center;
            }

            .info-content {
                padding-left: 12px;

                li {

                    span,
                    a {
                        color: $title-color !important;
                    }

                    &:first-child {
                        @extend %text-capitalize,
                        %text-bold;

                        span {
                            @extend %text-capitalize,
                            %text-bold;
                        }
                    }

                    &:last-child {
                        @extend %text-capitalize,
                        %text-bold;

                        span {
                            @extend %text-capitalize,
                            %text-regular;
                        }
                    }
                }
            }
        }
    }

    .menu-area {
        @extend %flex;
        align-items: center;
        background-color: $white-color;
        z-index: 999;


        @include breakpoint(lg) {
            border: 1px solid #f3f3f3;
            position: absolute;
            content: "";
            justify-content: space-between;
            width: 100%;
            top: 100%;
            left: 50%;
            @include add-prefix(transform, translate(-50%));
        }

        &__left {}

        &__right {
            @extend %flex,
            %justify-center,
            %ai-center;
            flex-wrap: nowrap;

            @include breakpoint(lg) {
                width: 199px;
            }

            &>div {
                flex-grow: 1;

                @include breakpoint (lg) {
                    border-left: 1px solid #f3f3f3;
                }
            }
        }

        .language-button {
            @extend %d-none;
            line-height: 4;

            @include breakpoint(sm) {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .country-flag {
                    width: 30%;
                    height: 64px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        display: none;
                        transition: 0.5s ease all;

                        &.active {
                            display: block;
                            @include transition($transition);
                        }
                    }
                }

                #language {
                    text-transform: uppercase;
                    font-weight: 700;
                    cursor: pointer;
                    width: 70%;

                    & select {
                        display: block;
                        height: 30px;
                        width: 50%;
                        border-radius: 5px;
                        background-color: blue;
                        margin-bottom: 30px;
                        border-color: none;
                    }

                    option {
                        font-weight: 500;
                    }
                }
            }

            @include breakpoint(lg) {
                padding: 0 5px;
            }

        }

        .search-button {
            @extend %flex,
            %justify-center,
            %ai-center;
            cursor: pointer;

            a {
                width: 55px;
                height: 63px;
                line-height: 63px;
                @include border-radius(50%);
                text-align: center;
                color: $title-color;
            }
        }

        .cart-button {
            width: 63px;
            height: 63px;
            line-height: 63px;
            @extend %text-center,
            %p-rel;

            a {
                width: 100%;
                height: auto;

                .cart-amount {
                    position: absolute;
                    top: 12px;
                    right: 8px;
                    background: $star-color;
                    height: 18px;
                    width: 18px;
                    line-height: 18px;
                    @include font-size(12px);
                    font-weight: 700;
                    text-align: center;
                    color: $white-color;
                    @include border-radius(50%);
                }

                i {
                    font-size: 20px;
                    color: $title-color;
                }
            }

            @include breakpoint(lg) {
                line-height: 63px;
            }

            @include breakpoint(max-xl) {
                .cart-button {
                    a {
                        .cart-amount {
                            top: 15px;
                        }

                        i {
                            margin-top: 16px;
                        }
                    }
                }
            }

            @include breakpoint(max-lg) {
                .cart-button {
                    border: none;
                    padding: 24px 25px;

                    a {
                        .cart-amount {
                            top: 20px;
                        }
                    }
                }
            }

            &.open {
                .cart-content {
                    @include add-prefix(transform, scaleY(1));
                }
            }


            .cart-content {
                @extend %p-abs;
                width: 280px;
                right: -55px;
                top: 99px;
                background: $white-color;
                z-index: 9999;
                padding: 10px;
                transform-origin: top;
                @include add-prefix(transform, scaleY(0));
                @include border-radius(0 0 6px 6px);
                @include transition($transition);

                @include breakpoint(sm) {
                    width: 320px;
                    right: 0;
                    top: 99px;
                }

                @include breakpoint(lg) {
                    top: 65px;
                }
            }

            .cart-item {
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid #f0f0f0;
                @extend %justify-between,
                %p-rel,
                %flex;

                a {
                    padding: 0 !important;
                }

                .cart-img {
                    max-width: 120px;
                    cursor: pointer;
                }

                .cart-des {
                    width: calc(100% - 130px);
                    text-align: left;
                    line-height: initial;

                    a {
                        @extend %text-capitalize,
                        %text-bold;
                        color: $top-title-span-bgcolor;
                        @include transition($transition);

                        &:hover {
                            color: $theme-color !important;
                        }

                        h6 {
                            @include font-size($fs-20);
                        }
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }

            .cart-btn {
                @extend %text-center,
                %p-abs;
                width: 20px;
                height: 20px;
                top: 0;
                right: 0;
                line-height: 20px;
                box-shadow: 0 0 3px rgba(8, 136, 136, 0.08);
                @include border-radius(100%);
                @include transition($transition);

                a {
                    color: $black-color;
                    @include transition($transition);
                }

                &:hover a i {
                    color: $theme-color;
                }

            }

            .cart-subtotal {
                margin-bottom: 15px;
            }

            .cart-action {
                .common-btn {
                    padding: 10px 20px !important;
                    line-height: 1.5 !important;

                    &:hover {
                        @include transform(translateY(-3px));
                        background-color: $theme-color;
                        box-shadow: 0 10px 10px rgb(0 0 0 / 10%);

                        span {
                            color: $white-color;
                        }
                    }
                }
            }

        }


        .ellepsis-bar {
            font-size: 20px;
            margin-left: 30px;
        }
    }

    .menu {
        @extend %flex;

        >li {
            >a {
                color: $title-color;
                @include font-size($fs-base);
                font-weight: 700;
                padding: 10px;
                text-transform: uppercase;
                font-family: $title-font;

                i {
                    margin-right: 5px;
                }
            }
        }

        @include breakpoint(lg) {
            margin: 0 14px;

            li {
                position: relative;

                >a {
                    padding: 20px 10px;

                    &.active {
                        border-top: 3px solid $theme-color;
                        padding: 17.5px 10px;
                    }
                }

                .submenu {
                    position: absolute;
                    top: calc(100%);
                    left: 0;
                    -webkit-transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    transition: all ease 0.3s;
                    z-index: 9;
                    background: #ffffff;
                    width: 220px;
                    padding: 0;
                    -webkit-transform: translateY(35px);
                    -ms-transform: translateY(35px);
                    transform: translateY(35px);
                    opacity: 0;
                    visibility: hidden;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);

                    li {
                        padding: 0;

                        a {
                            padding: 10px 20px;
                            text-transform: capitalize;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 14px;
                            color: $title-color;
                            font-weight: 500;
                            border-bottom: 1px solid $theme-color;

                            &:hover,
                            &.active {
                                background: $theme-color;
                                padding-left: 22px;
                                color: $white-color;
                            }
                        }

                        &:last-child {
                            a {
                                border-bottom: none;
                            }
                        }

                        .submenu {
                            left: 100%;
                            top: 0;
                        }
                    }
                }

                &:hover {
                    >.submenu {
                        -webkit-transform: translateY(0);
                        -ms-transform: translateY(0);
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        @include breakpoint(max-lg) {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background: $white-color;
            overflow: auto;
            max-height: 400px;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            transition: all ease 0.3s;
            -webkit-transform: scaleY(0);
            -ms-transform: scaleY(0);
            transform: scaleY(0);
            transform-origin: top;

            li {
                width: 100%;
                padding: 0;

                a {
                    display: block;
                    padding: 10px 25px;
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-top: 1px solid #e5e5e5;
                    color: $title-color;

                    &:hover {
                        background: rgba($theme-color, 0.1);
                    }
                }

                .submenu {
                    padding-left: 20px;
                    display: none;

                    li {
                        width: 100%;

                        a {
                            font-size: 14px;
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
            }

            &.active {
                -webkit-transform: scaleY(1);
                -ms-transform: scaleY(1);
                transform: scaleY(1);
            }
        }
    }

    .header-bar {
        position: relative;
        cursor: pointer;
        width: 25px;
        height: 20px;

        span {
            position: absolute;
            display: inline-block;
            height: 3px;
            width: 100%;
            @include transition($transition);
            background-color: $title-color;
            left: 0;

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: 52%;
                transform: translateY(-65%);
            }

            &:last-child {
                bottom: 0;
            }
        }

        &.active {
            span {
                &:first-child {
                    @include transform(rotate(45deg) translate(3px, 9px));
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    @include transform(rotate(-45deg)translate(3px, -9px));
                }
            }
        }

        @include breakpoint(max-sm) {
            width: 15px;
            height: 16px;

            span {
                height: 2px;
                width: 20px;
            }

            &.active {
                span {
                    &:first-child {
                        @include transform(rotate(45deg) translate(4px, 6px));
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        @include transform(rotate(-45deg)translate(4px, -6px));
                    }
                }
            }
        }
    }

    .menu-item-has-children {
        >a {
            &::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                content: "\f0d7";
                margin-left: 3px;
            }
        }
    }

}